@import "styles/styles.scss";

.createDao {
  .form {
    font-family: Inter;
    background-color: $BG02;
    border: 1px solid $Border01;
    border-radius: 16px;
    padding: 24px;
    .body {
      margin-bottom: 36px;

      label {
        display: block;
        font-size: 17px;
        font-weight: 600;
        line-height: 32px;
        color: $Secondary02;
      }

      input {
        height: fit-content;
        border: 1px solid $Border01;
        border-radius: 10px;
        color: $Neutral02;
        padding: 5px 12px;
        margin-bottom: 24px;
      }

      .safeOwners {
        padding-left: 20px;

        .owner {
          display: grid;
          grid-template-columns: auto auto auto;
          column-gap: 18px;
          align-items: center;
          justify-content: flex-start;

          .formGroup {
            // label {
            //   display: inline-block;
            // }

            // input {
            //   &.handle {
            //     width: 140px;
            //   }
            //   &.address {
            //     width: 380px;
            //   }
            // }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .channelAdmin {
    .form {
      .body {
        .safeOwners {
          .owner {
            grid-template-columns: auto;
          }
        }
      }
    }
  }
}
